.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-overlay {
  background-color: #ececec;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 90%;
  max-width: 50rem;
  background-color: black;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.modal-form{
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.button-wrapper{
  display: flex;
  justify-content: center;
  gap: 3rem;
}
button{
    max-width: 20rem;
}